<h1>Personaje de la Serie</h1>
<img src="<%= @character[0]["img"] %>" width="300">
<p> Nombre: <%= @character[0]["name"]  %> </p>
<p> Apodo: <%= @character[0]["nickname"]  %> </p>
<p> 
    Ocupación: 
    <% @character[0]["occupation"].each do |occupation| %>
        <%= occupation %>. 
    <% end %>
</p>
<p> Cumpleaños: <%= @character[0]["birthday"]  %> </p>
<p> Estado: <%= @character[0]["status"]  %> </p>
<p> Intérprete: <%= @character[0]["portrayed"]  %> </p>
<p>
    Temporadas en Breaking Bad: 
    <% @character[0]["appearance"].each do |season| %>
        <a href="<%= breakingbad_season_path(season) %>">Temporada <%= season %></a>
    <% end %>
</p>
<p>
    Temporadas en Better Call Saul:
    <% @character[0]["better_call_saul_appearance"].each do |season| %>
        <a href="<%= bettercallsaul_season_path(season) %>">Temporada <%= season %></a>
    <% end %>
</p>
