<h1>PAGINA DE INICIO</h1>
<h2>Breaking Bad</h2>
<a href="<%= breakingbad_season_path("1") %>">Temporada 1</a>
<a href="<%= breakingbad_season_path("2") %>">Temporada 2</a>
<a href="<%= breakingbad_season_path("3") %>">Temporada 3</a>
<a href="<%= breakingbad_season_path("4") %>">Temporada 4</a>
<a href="<%= breakingbad_season_path("5") %>">Temporada 5</a>
<h2>Better Call Saul</h2>
<a href="<%= bettercallsaul_season_path("1") %>">Temporada 1</a>
<a href="<%= bettercallsaul_season_path("2") %>">Temporada 2</a>
<a href="<%= bettercallsaul_season_path("3") %>">Temporada 3</a>
<a href="<%= bettercallsaul_season_path("4") %>">Temporada 4</a>