<!DOCTYPE html>
<html>
  <head>
    <title>Tarea1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= form_with url: index_search_path, method: :patch do |form| %>
      <%= form.label :query, "Buscar personaje: " %>
      <%= form.text_field :query %>
      <%= form.submit "Search" %>
    <% end %> 

    <br>
    <br>
    <%= yield %>
    <br>
    <br>
    <input type="button" value="PÃGINA ANTERIOR" onclick="history.back()">
    <br>
    <a href="<%= index_path %>"> VOLVER AL INICIO </a>
  </body>
</html>
